Spring 2025
Lecture 02

# Data Manipulation with Pandas

This cell shows how markdown formatting can be applied to a cell.

**Bold Text**

This is regular text!

This is a list of items:

1. Item 1
2. Item 2
3. Item 3

This is a bulleted list:

- Item 1
- Item 2
- Item 3

## Installations

These are one-time installs - they will be in our environment forever!

- ! conda install -y pandas

In [108]:
# Installations (one-time only)
# I conda install -y pandas
# ! conda install -y jupyter ipywidgets widgetsbextension pandas-profiling

# Imports
import pandas as pd # Pandas is for data manipulation
import numpy as np  # Numpy is for array handing -—> np.nan
import warnings     # Suppress warnings that we don't want to see

# Load Data
df = pd.read_csv('data/top-500-novels-metadata_2025-01-11.csv')

## Viewing Data

Types of data (dtypes)

- **Numeric Dtypes**: include the prefixes `int` and `float`
- **String Dtypes**: include the prefix `object`

In [109]:
# Preview data
display(df.head(5))

,top_500_rank,title,author,pub_year,orig_lang,genre,author_birth,author_death,author_gender,author_primary_lang,...,gr_num_ratings,gr_num_reviews,gr_avg_rating_rank,gr_num_ratings_rank,oclc_owi,author_viaf,gr_url,wiki_url,pg_eng_url,pg_orig_url
0,1,Don Quixote,Miguel de Cervantes,1605,Spanish,action,1547,1616,male,spa,...,269435,12053,318,211,1.810748e+09,17220427.0,https://www.goodreads.com/book/show/3836.Don_Q...,https://en.wikipedia.org/wiki/Don_Quixote,https://www.gutenberg.org/cache/epub/996/pg996...,https://www.gutenberg.org/cache/epub/2000/pg20...
1,2,Alice's Adventures in Wonderland,Lewis Carroll,1865,English,fantasy,1832,1898,male,eng,...,561016,15380,172,133,1.156132e+10,66462036.0,https://www.goodreads.com/book/show/24213.Alic...,https://en.wikipedia.org/wiki/Alice%27s_Advent...,https://www.gutenberg.org/cache/epub/11/pg11.txt,NaN
2,3,The Adventures of Huckleberry Finn,Mark Twain,1884,English,action,1835,1910,male,eng,...,1262480,19440,373,68,3.373178e+09,50566653.0,https://www.goodreads.com/book/show/2956.The_A...,https://en.wikipedia.org/wiki/Adventures_of_Hu...,https://www.gutenberg.org/cache/epub/76/pg76.txt,NaN
3,4,The Adventures of Tom Sawyer,Mark Twain,1876,English,action,1835,1910,male,eng,...,931898,13603,301,88,3.373178e+09,50566653.0,https://www.goodreads.com/book/show/24583.The_...,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.gutenberg.org/cache/epub/74/pg74.txt,NaN
4,5,Treasure Island,Robert Louis Stevenson,1883,English,action,1850,1894,male,eng,...,486155,16307,368,145,3.434000e+03,95207986.0,https://www.goodreads.com/book/show/295.Treasu...,https://en.wikipedia.org/wiki/Treasure_Island,https://www.gutenberg.org/cache/epub/120/pg120...,NaN

In [110]:
# View the columns in the dataset
print(df.columns)

# View the dimension of the dataset
df.shape # (number of rows, number of columns)

# View some information about the dataset
df.info()

# View basic statistics about the columns
df.describe()

# Count of missing values per column
df.isnull().sum()

# View unique values in a columns
df['author'].unique()

# View the count of unique values in a column
df['author'].nunique()

Index(['top_500_rank', 'title', 'author', 'pub_year', 'orig_lang', 'genre',
       'author_birth', 'author_death', 'author_gender', 'author_primary_lang',
       'author_nationality', 'author_field_of_activity', 'author_occupation',
       'oclc_holdings', 'oclc_eholdings', 'oclc_total_editions',
       'oclc_holdings_rank', 'oclc_editions_rank', 'gr_avg_rating',
       'gr_num_ratings', 'gr_num_reviews', 'gr_avg_rating_rank',
       'gr_num_ratings_rank', 'oclc_owi', 'author_viaf', 'gr_url', 'wiki_url',
       'pg_eng_url', 'pg_orig_url'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   top_500_rank              500 non-null    int64
 1   title                     500 non-null    object
 2   author                    500 non-null    object
 3   pub_year                  500 non-null    int64
 4   orig_lang                 500 non-null    object
 5   genre                     500 non-null    object
 6   author_birth              499 non-null    object
 7   author_death              496 non-null    object
 8   author_gender             500 non-null    object
 9   author_primary_lang       500 non-null    object
 10  author_nationality        500 non-null    object
 11  author_field_of_activity  329 non-null    object
 12  author_occupation         459 non-null    object
 13  oclc_holdings             495 non-null    float64
 14  oclc_eholdings            495 non-null    float64
 15  oclc_total_editions       495 non-null    float64
 16  oclc_holdings_rank        495 non-null    float64
 17  oclc_editions_rank        495 non-null    float64
 18  gr_avg_rating             500 non-null    float64
 19  gr_num_ratings            500 non-null    int64
 20  gr_num_reviews            500 non-null    int64
 21  gr_avg_rating_rank        500 non-null    int64
 22  gr_num_ratings_rank       500 non-null    int64
 23  oclc_owi                  495 non-null    float64
 24  author_viaf               500 non-null    float64
 25  gr_url                    480 non-null    object
 26  wiki_url                  500 non-null    object
 27  pg_eng_url                500 non-null    object
 28  pg_orig_url               64 non-null     object
dtypes: float64(8), int64(6), object(15)
memory usage: 113.4+ KB

279

### Types of Data Manipulations

1. Data Selection and Filtering
2. Renaming Columns
3. Data Transformations
    - Numerical Variables -> Calculations
    - Categorical Variables -> String Operations and Recoding
4. Data Aggregation and Groupin

## 1. Data Selection and Filtering

### Selecting Columns

1. Create a dataframe called `df_authors` that contains the following columns:
    - author
    - author_birth
    - author_death
    - author_gender
    - author_primary_lang
    - author_nationality
    - author_field_of_activity
    - author occupation

In [111]:
# [s for s in df.columns if 'author' in s]

In [112]:
# Example 1

# Use [[]] (double brackets) to select columns
df_authors = df[
    [
        'author',
        'author_birth',
        'author_death',
        'author_gender',
        'author_primary_lang',
        'author_nationality',
        'author_field_of_activity',
        "author_occupation"
    ]
]

# OR
list_author_columns = [
    'author',
    'author_birth',
    'author_death',
    'author_gender',
    'author_primary_lang',
    'author_nationality',
    'author_field_of_activity',
    "author_occupation"
]
df_authors = df[list_author_columns]
print(df_authors.shape)

# Drop duplicates - One row per author
df_authors = df_authors.drop_duplicates()

print(df_authors.shape)

(500, 8)
(279, 8)

### Filtering Rows

2. Filter to all books by `Jane Austen`
3. Filter to all books published after 2016.
4. Filter to all `US` authors who are still alive.
5. Filter to all books in the following genres: `action`, `fantasy`, `romance`.

In [113]:
# Example 2
df_jane_austen = df[
    df['author'] == 'Jane Austen'
]

df_jane_austen

,top_500_rank,title,author,pub_year,orig_lang,genre,author_birth,author_death,author_gender,author_primary_lang,...,gr_num_ratings,gr_num_reviews,gr_avg_rating_rank,gr_num_ratings_rank,oclc_owi,author_viaf,gr_url,wiki_url,pg_eng_url,pg_orig_url
5,6,Pride and Prejudice,Jane Austen,1813,English,romance,1775,1817,female,eng,...,4239555,113241,34,8,1.881837e+09,102333412.0,https://www.goodreads.com/book/show/1885.Pride...,https://en.wikipedia.org/wiki/Pride_and_Prejudice,https://www.gutenberg.org/cache/epub/1342/pg13...,NaN
41,42,Sense and Sensibility,Jane Austen,1811,English,romance,1775,1817,female,eng,...,1184039,26962,158,74,3.373324e+09,102333412.0,https://www.goodreads.com/book/show/14935.Sens...,https://en.wikipedia.org/wiki/Sense_and_Sensib...,https://www.gutenberg.org/cache/epub/161/pg161...,NaN
88,89,Persuasion,Jane Austen,1818,English,romance,1775,1817,female,eng,...,697703,32466,101,115,1.881837e+09,102333412.0,https://www.goodreads.com/book/show/2156.Persu...,https://en.wikipedia.org/wiki/Persuasion_(novel),https://www.gutenberg.org/cache/epub/105/pg105...,NaN
89,90,Mansfield Park,Jane Austen,1814,English,romance,1775,1817,female,eng,...,347543,14726,350,178,4.144770e+05,102333412.0,https://www.goodreads.com/book/show/45032.Mans...,https://en.wikipedia.org/wiki/Mansfield_Park,https://www.gutenberg.org/cache/epub/141/pg141...,NaN
114,115,Northanger Abbey,Jane Austen,1818,English,romance,1775,1817,female,eng,...,398340,21067,360,165,3.138345e+09,102333412.0,https://www.goodreads.com/book/show/50398.Nort...,https://en.wikipedia.org/wiki/Northanger_Abbey,https://www.gutenberg.org/cache/epub/121/pg121...,NaN

In [114]:
# Example 3
df[
    df['pub_year'] > 2016
]

Empty DataFrame
Columns: [top_500_rank, title, author, pub_year, orig_lang, genre, author_birth, author_death, author_gender, author_primary_lang, author_nationality, author_field_of_activity, author_occupation, oclc_holdings, oclc_eholdings, oclc_total_editions, oclc_holdings_rank, oclc_editions_rank, gr_avg_rating, gr_num_ratings, gr_num_reviews, gr_avg_rating_rank, gr_num_ratings_rank, oclc_owi, author_viaf, gr_url, wiki_url, pg_eng_url, pg_orig_url]
Index: []

[0 rows x 29 columns]

In [115]:
# Example 4

# action, fantasy, romance

# Method 1: Combine many "or" statements
df_genres = df[
    (df['genre']=='action') |
    (df['genre']=='fantasy') |
    (df['genre']=='romance')
]

df_genres['genre'].value_counts()

genre
fantasy    48
romance    33
action     16
Name: count, dtype: int64

In [116]:
# Method 2: Use .isin()

list_genres = ['romance', 'action', 'fantasy']

df_genres_2 = df[
    df['genre'].isin(list_genres)
]
df_genres_2['genre'].value_counts()

genre
fantasy    48
romance    33
action     16
Name: count, dtype: int64

In [117]:
# Example 4

# How many US authors are still alive? ---> 54

# Checking value counts of "author death year"
df['author_death'].value_counts()
# Checking value counts of "author nationality"
df['author_nationality'].value_counts()

df_us_alive_authors = df[
    (df['author_death'] == 'ALIVE') & # and
    (df['author_nationality'] == 'US') 
]

df_us_alive_authors['author'].nunique()

df_us_alive_authors.shape # (number of rows, number of columns)

print(
    'Number of authors:', df_us_alive_authors['author'].nunique()
)
print(
    'Number of books:', df_us_alive_authors.shape[0]
)

Number of authors: 54
Number of books: 111

## 2. Renaming Columns

6. Rename the column `pub_year` to `publication_year` AND `author` to be `author_name`.

In [118]:
# What is a dictionary?

example_list = ['a', 'b', 'c']

example_dictionary = {'color': 'red', 'height': '5"11'}

In [119]:
# Example 7

display(df.head())

df.rename(
    columns = {
        # old name : new name
        'pub_year': 'publication_year',
        'author': 'author_name'
    },
    inplace = True
)

display(df.head())

,top_500_rank,title,author,pub_year,orig_lang,genre,author_birth,author_death,author_gender,author_primary_lang,...,gr_num_ratings,gr_num_reviews,gr_avg_rating_rank,gr_num_ratings_rank,oclc_owi,author_viaf,gr_url,wiki_url,pg_eng_url,pg_orig_url
0,1,Don Quixote,Miguel de Cervantes,1605,Spanish,action,1547,1616,male,spa,...,269435,12053,318,211,1.810748e+09,17220427.0,https://www.goodreads.com/book/show/3836.Don_Q...,https://en.wikipedia.org/wiki/Don_Quixote,https://www.gutenberg.org/cache/epub/996/pg996...,https://www.gutenberg.org/cache/epub/2000/pg20...
1,2,Alice's Adventures in Wonderland,Lewis Carroll,1865,English,fantasy,1832,1898,male,eng,...,561016,15380,172,133,1.156132e+10,66462036.0,https://www.goodreads.com/book/show/24213.Alic...,https://en.wikipedia.org/wiki/Alice%27s_Advent...,https://www.gutenberg.org/cache/epub/11/pg11.txt,NaN
2,3,The Adventures of Huckleberry Finn,Mark Twain,1884,English,action,1835,1910,male,eng,...,1262480,19440,373,68,3.373178e+09,50566653.0,https://www.goodreads.com/book/show/2956.The_A...,https://en.wikipedia.org/wiki/Adventures_of_Hu...,https://www.gutenberg.org/cache/epub/76/pg76.txt,NaN
3,4,The Adventures of Tom Sawyer,Mark Twain,1876,English,action,1835,1910,male,eng,...,931898,13603,301,88,3.373178e+09,50566653.0,https://www.goodreads.com/book/show/24583.The_...,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.gutenberg.org/cache/epub/74/pg74.txt,NaN
4,5,Treasure Island,Robert Louis Stevenson,1883,English,action,1850,1894,male,eng,...,486155,16307,368,145,3.434000e+03,95207986.0,https://www.goodreads.com/book/show/295.Treasu...,https://en.wikipedia.org/wiki/Treasure_Island,https://www.gutenberg.org/cache/epub/120/pg120...,NaN

,top_500_rank,title,author_name,publication_year,orig_lang,genre,author_birth,author_death,author_gender,author_primary_lang,...,gr_num_ratings,gr_num_reviews,gr_avg_rating_rank,gr_num_ratings_rank,oclc_owi,author_viaf,gr_url,wiki_url,pg_eng_url,pg_orig_url
0,1,Don Quixote,Miguel de Cervantes,1605,Spanish,action,1547,1616,male,spa,...,269435,12053,318,211,1.810748e+09,17220427.0,https://www.goodreads.com/book/show/3836.Don_Q...,https://en.wikipedia.org/wiki/Don_Quixote,https://www.gutenberg.org/cache/epub/996/pg996...,https://www.gutenberg.org/cache/epub/2000/pg20...
1,2,Alice's Adventures in Wonderland,Lewis Carroll,1865,English,fantasy,1832,1898,male,eng,...,561016,15380,172,133,1.156132e+10,66462036.0,https://www.goodreads.com/book/show/24213.Alic...,https://en.wikipedia.org/wiki/Alice%27s_Advent...,https://www.gutenberg.org/cache/epub/11/pg11.txt,NaN
2,3,The Adventures of Huckleberry Finn,Mark Twain,1884,English,action,1835,1910,male,eng,...,1262480,19440,373,68,3.373178e+09,50566653.0,https://www.goodreads.com/book/show/2956.The_A...,https://en.wikipedia.org/wiki/Adventures_of_Hu...,https://www.gutenberg.org/cache/epub/76/pg76.txt,NaN
3,4,The Adventures of Tom Sawyer,Mark Twain,1876,English,action,1835,1910,male,eng,...,931898,13603,301,88,3.373178e+09,50566653.0,https://www.goodreads.com/book/show/24583.The_...,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.gutenberg.org/cache/epub/74/pg74.txt,NaN
4,5,Treasure Island,Robert Louis Stevenson,1883,English,action,1850,1894,male,eng,...,486155,16307,368,145,3.434000e+03,95207986.0,https://www.goodreads.com/book/show/295.Treasu...,https://en.wikipedia.org/wiki/Treasure_Island,https://www.gutenberg.org/cache/epub/120/pg120...,NaN

## 3. Data Transformation

7. Create a new column called `author_is_alive` in the `df_authors` dataframe. It should be TRUE when the author is alive and FALSE otherwise.
8. Replace `ALIVE` with `np.nan` in the author_death column.
9. Check the type of the column and convert `author_death` to numeric if needed.
10. Create a new column `author_age` which is equal to the age of the author.

In [123]:
# Example 7

# This is how to create a column
# df['new_column'] = ''

df_authors.loc[
    df_authors['author_death'] != 'ALIVE', # first argument -> CONDITIONAL STATEMENT
    'author_is_alive' # second argument -> NEW COLUMN NAME
] = False # the VALUE you want the new column to equal, when condition is met
df_authors.loc[
    df_authors['author_death'] == 'ALIVE',
    'author_is_alive'
] = True

# Can also use the new variable here, instead
# df_authors.loc[
#     df_authors['author_is_alive'] != False,
#     'author_is_alive'
# ] = True

## NaN -----> Not a number (represents a missing value)

df_authors['author_is_alive'].isnull().sum()

np.int64(0)

In [ ]:
# Example 8 ---> Replace 'Alive' with np.nan inside of 'author_death'

df_authors.loc[
    df_authors['author_death'] == 'ALIVE',
    'author_death'
] = np.nan

# Check if it worked
df_authors['author_death'].unique()

,author,author_birth,author_death,author_gender,author_primary_lang,author_nationality,author_field_of_activity,author_occupation,author_is_alive
0,Miguel de Cervantes,1547,1616,male,spa,ES,NaN,"soldiers,poets spanish,novelists spanish,drama...",False
1,Lewis Carroll,1832,1898,male,eng,GB,"writing,teaching,photography,mathematics","authors,teachers,photographers,mathematicians",False
2,Mark Twain,1835,1910,male,eng,US,"wit and humor,literature,humor","lecturers,humorists,authors",False
4,Robert Louis Stevenson,1850,1894,male,eng,GB,NaN,"travel writers,poets,novelists",False
5,Jane Austen,1775,1817,female,eng,GB,"fiction,novels","novelists,authors",False
...,...,...,...,...,...,...,...,...,...
493,Norman Mailer,1923,2007,male,eng,US,"literature,creative nonfiction,world war 1939 ...","soldiers,novelists,authors",False
495,Robert A. Heinlein,1907,1988,male,eng,US,science fiction,authors american,False
496,Nora Roberts,1965,NaN,female,eng,US,"novels,fiction",novelists,True
497,Sid Fleischman,1920,2010,male,eng,US,NaN,NaN,False
498,Emma Donoghue,1969,NaN,female,eng,IE,"fiction,drama,motion picture authorship,editing","novelists,authors,screenwriters,editors,dramat...",True

In [134]:
# Example 9

# Check the type of column --> author_death
# df_authors.info()

df_authors['author_death'] = pd.to_numeric(
    df_authors['author_death'],
    errors = 'coerce'
)

# Convert author birth to numeric
df_authors['author_birth'] = pd.to_numeric(
    df_authors['author_birth'],
    errors='coerce'
)

df_authors.info()

<class 'pandas.core.frame.DataFrame'>
Index: 279 entries, 0 to 498
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   author                    279 non-null    object
 1   author_birth              274 non-null    float64
 2   author_death              198 non-null    float64
 3   author_gender             279 non-null    object
 4   author_primary_lang       279 non-null    object
 5   author_nationality        279 non-null    object
 6   author_field_of_activity  153 non-null    object
 7   author_occupation         242 non-null    object
 8   author_is_alive           279 non-null    object
dtypes: float64(2), object(7)
memory usage: 21.8+ KB

In [ ]:
# Example 10 -> Author Age

# Temporarily replace NaN with 2025 to calculate age
df_authors['author_age'] = df_authors['author_death'].fillna(2025) - df_authors['author_birth']

# To fill a missing value with a value -----> .fillna()

df_authors[['author_age', 'author_death', 'author_birth']]

     author_age  author_death  author_birth
0          69.0        1616.0        1547.0
1          66.0        1898.0        1832.0
2          75.0        1910.0        1835.0
4          44.0        1894.0        1850.0
5          42.0        1817.0        1775.0
..          ...           ...           ...
493        84.0        2007.0        1923.0
495        81.0        1988.0        1907.0
496        60.0           NaN        1965.0
497        90.0        2010.0        1920.0
498        56.0           NaN        1969.0

[279 rows x 3 columns]